@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");
@import "tailwindcss";

#root {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(#f0e9e9, #C96442 80%);
}

body {
    margin: 0;
}

.outline-text {
    -webkit-text-stroke: 1px white;
}

@keyframes horizontal-scroll {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

@keyframes horizontal-scroll-2 {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

.animate-horizontal-scroll {
    animation: horizontal-scroll 40s linear infinite;
    will-change: transform;
}

.animate-horizontal-scroll-2 {
    animation: horizontal-scroll-2 40s linear infinite;
    will-change: transform;
}